openapi: 3.0.3
info:
  description: OpenAPI specification for Okx exchange - Rest API
  title: OKX v5 API
  version: 0.1.0
servers:
- description: Okx Rest API Server
  url: https://www.okx.com
paths:
  /api/v5/account/account-level-switch-preset:
    post:
      description: "Pre-set the required information for account mode switching. When\
        \ switching from `Portfolio margin mode` back to `Spot and futures mode` /\
        \ `Multi-currency margin mode`, and if there are existing cross-margin contract\
        \ positions, it is mandatory to pre-set leverage.\n\nIf the user does not\
        \ follow the required settings, they will receive an error message during\
        \ the pre-check or when setting the account mode.\n\n#### Rate limit: 5 requests\
        \ per 2 seconds \n\n#### Rate limit rule: User ID \n\n#### Permission: Trade\
        \ \n\n"
      operationId: CreateAccountAccountLevelSwitchPresetV5
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAccountAccountLevelSwitchPresetV5Req'
        description: The request body for CreateAccountAccountLevelSwitchPresetV5
        required: true
      responses:
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Server Error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAccountAccountLevelSwitchPresetV5Resp'
          description: Successful operation
      security:
      - APIKey: []
        Passphrase: []
      summary: |+
        Pre-set the required information for account mode switching. When switching from `Portfolio margin mode` back to `Spot and futures mode` / `Multi-currency margin mode`, and if there are existing cross-margin contract positions, it is mandatory to pre-set leverage.

        If the user does not follow the required settings, they will receive an error message during the pre-check or when setting the account mode.

      tags:
      - Trading Account
  /api/v5/account/account-position-risk:
    get:
      description: "Get account and position risk\n\n**_Obtain basic information about\
        \ accounts and positions on the same time snapshot_**\n\n#### Rate Limit:\
        \ 10 requests per 2 seconds \n\n#### Rate limit rule: User ID \n\n#### Permission:\
        \ Read \n\n"
      operationId: GetAccountAccountPositionRiskV5
      parameters:
      - description: |-
          Instrument type

          `MARGIN`

          `SWAP`

          `FUTURES`

          `OPTION`
        explode: true
        in: query
        name: instType
        required: false
        schema:
          default: ""
          description: |-
            Instrument type

            `MARGIN`

            `SWAP`

            `FUTURES`

            `OPTION`
          type: string
        style: form
      responses:
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Server Error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAccountAccountPositionRiskV5Resp'
          description: Successful operation
      security:
      - APIKey: []
        Passphrase: []
      summary: |+
        Get account and position risk

      tags:
      - Trading Account
  /api/v5/account/activate-option:
    post:
      description: "#### Rate Limit: 5 requests per 2 seconds \n\n#### Rate limit\
        \ rule: User ID \n\n#### Permission: Trade \n\n"
      operationId: CreateAccountActivateOptionV5
      responses:
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Server Error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAccountActivateOptionV5Resp'
          description: Successful operation
      security:
      - APIKey: []
        Passphrase: []
      tags:
      - Trading Account
  /api/v5/account/adjust-leverage-info:
    get:
      description: "#### Rate Limit: 5 requests per 2 seconds \n\n#### Rate limit\
        \ rule: User ID \n\n#### Permission: Read \n\n"
      operationId: GetAccountAdjustLeverageInfoV5
      parameters:
      - description: |-
          Instrument type

          `MARGIN`

          `SWAP`

          `FUTURES`
        explode: true
        in: query
        name: instType
        required: true
        schema:
          default: ""
          description: |-
            Instrument type

            `MARGIN`

            `SWAP`

            `FUTURES`
          type: string
        style: form
      - description: |-
          Margin mode

          `isolated`

          `cross`
        explode: true
        in: query
        name: mgnMode
        required: true
        schema:
          default: ""
          description: |-
            Margin mode

            `isolated`

            `cross`
          type: string
        style: form
      - description: Leverage
        explode: true
        in: query
        name: lever
        required: true
        schema:
          default: ""
          description: Leverage
          type: string
        style: form
      - description: |-
          Instrument ID, e.g. BTC-USDT

          It is required for these scenarioes: `SWAP` and `FUTURES`, Margin isolation, Margin cross in `Spot and futures mode`.
        explode: true
        in: query
        name: instId
        required: false
        schema:
          default: ""
          description: |-
            Instrument ID, e.g. BTC-USDT

            It is required for these scenarioes: `SWAP` and `FUTURES`, Margin isolation, Margin cross in `Spot and futures mode`.
          type: string
        style: form
      - description: |-
          Currency used for margin, e.g. BTC

          It is required for isolated margin and cross margin in `Spot and futures mode`, `Multi-currency margin` and `Portfolio margin`
        explode: true
        in: query
        name: ccy
        required: false
        schema:
          default: ""
          description: |-
            Currency used for margin, e.g. BTC

            It is required for isolated margin and cross margin in `Spot and futures mode`, `Multi-currency margin` and `Portfolio margin`
          type: string
        style: form
      - description: |-
          posSide

          `net`: The default value

          `long`

          `short`
        explode: true
        in: query
        name: posSide
        required: false
        schema:
          default: ""
          description: |-
            posSide

            `net`: The default value

            `long`

            `short`
          type: string
        style: form
      responses:
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Server Error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAccountAdjustLeverageInfoV5Resp'
          description: Successful operation
      security:
      - APIKey: []
        Passphrase: []
      tags:
      - Trading Account
  /api/v5/account/balance:
    get:
      description: "Retrieve a list of assets (with non-zero balance), remaining balance,\
        \ and available amount in the trading account.\n\n**_Interest-free quota and\
        \ discount rates are public data and not displayed on the account interface._**\n\
        \n#### Rate Limit: 10 requests per 2 seconds \n\n#### Rate limit rule: User\
        \ ID \n\n#### Permission: Read \n\n"
      operationId: GetAccountBalanceV5
      parameters:
      - description: "Single currency or multiple currencies (no more than 20) separated\
          \ with comma, e.g. `BTC` or `BTC,ETH`."
        explode: true
        in: query
        name: ccy
        required: false
        schema:
          default: ""
          description: "Single currency or multiple currencies (no more than 20) separated\
            \ with comma, e.g. `BTC` or `BTC,ETH`."
          type: string
        style: form
      responses:
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Server Error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAccountBalanceV5Resp'
          description: Successful operation
      security:
      - APIKey: []
        Passphrase: []
      summary: |+
        Retrieve a list of assets (with non-zero balance), remaining balance, and available amount in the trading account.

      tags:
      - Trading Account
  /api/v5/account/bills:
    get:
      description: "Retrieve the bills of the account. The bill refers to all transaction\
        \ records that result in changing the balance of an account. Pagination is\
        \ supported, and the response is sorted with the most recent first. This endpoint\
        \ can retrieve data from the last 7 days.\n\n#### Rate Limit: 5 requests per\
        \ second \n\n#### Rate limit rule: User ID \n\n#### Permission: Read \n\n"
      operationId: GetAccountBillsV5
      parameters:
      - description: |-
          Instrument type

          `SPOT`

          `MARGIN`

          `SWAP`

          `FUTURES`

          `OPTION`
        explode: true
        in: query
        name: instType
        required: false
        schema:
          default: ""
          description: |-
            Instrument type

            `SPOT`

            `MARGIN`

            `SWAP`

            `FUTURES`

            `OPTION`
          type: string
        style: form
      - description: "Instrument ID, e.g. `BTC-USDT`"
        explode: true
        in: query
        name: instId
        required: false
        schema:
          default: ""
          description: "Instrument ID, e.g. `BTC-USDT`"
          type: string
        style: form
      - description: Bill currency
        explode: true
        in: query
        name: ccy
        required: false
        schema:
          default: ""
          description: Bill currency
          type: string
        style: form
      - description: |-
          Margin mode

          `isolated`

          `cross`
        explode: true
        in: query
        name: mgnMode
        required: false
        schema:
          default: ""
          description: |-
            Margin mode

            `isolated`

            `cross`
          type: string
        style: form
      - description: |-
          Contract type

          `linear`

          `inverse`

          Only applicable to `FUTURES`/`SWAP`
        explode: true
        in: query
        name: ctType
        required: false
        schema:
          default: ""
          description: |-
            Contract type

            `linear`

            `inverse`

            Only applicable to `FUTURES`/`SWAP`
          type: string
        style: form
      - description: |-
          Bill type

          `1`: Transfer

          `2`: Trade

          `3`: Delivery

          `4`: Forced repayment

          `5`: Liquidation

          `6`: Margin transfer

          `7`: Interest deduction

          `8`: Funding fee

          `9`: ADL

          `10`: Clawback

          `11`: System token conversion

          `12`: Strategy transfer

          `13`: DDH

          `14`: Block trade

          `15`: Quick Margin

          `16`: Borrowing

          `22`: Repay

          `24`: Spread trading

          `26`: Structured products

          `27`: Convert

          `28`: Easy convert

          `29`: One-click repay

          `30`: Simple trade

          `33`: Loans

          `34`: Settlement

          `250`: Copy trader profit sharing expenses

          `251`: Copy trader profit sharing refund
        explode: true
        in: query
        name: type
        required: false
        schema:
          default: ""
          description: |-
            Bill type

            `1`: Transfer

            `2`: Trade

            `3`: Delivery

            `4`: Forced repayment

            `5`: Liquidation

            `6`: Margin transfer

            `7`: Interest deduction

            `8`: Funding fee

            `9`: ADL

            `10`: Clawback

            `11`: System token conversion

            `12`: Strategy transfer

            `13`: DDH

            `14`: Block trade

            `15`: Quick Margin

            `16`: Borrowing

            `22`: Repay

            `24`: Spread trading

            `26`: Structured products

            `27`: Convert

            `28`: Easy convert

            `29`: One-click repay

            `30`: Simple trade

            `33`: Loans

            `34`: Settlement

            `250`: Copy trader profit sharing expenses

            `251`: Copy trader profit sharing refund
          type: string
        style: form
      - description: "Bill subtype\n\n`1`: Buy\n\n`2`: Sell\n\n`3`: Open long\n\n\
          `4`: Open short\n\n`5`: Close long\n\n`6`: Close short\n\n`9`: Interest\
          \ deduction for Market loans\n\n`11`: Transfer in\n\n`12`: Transfer out\n\
          \n`14`: Interest deduction for VIP loans\n\n`160`: Manual margin increase\n\
          \n`161`: Manual margin decrease\n\n`162`: Auto margin increase\n\n`114`:\
          \ Forced repayment buy\n\n`115`: Forced repayment sell\n\n`118`: System\
          \ token conversion transfer in\n\n`119`: System token conversion transfer\
          \ out\n\n`100`: Partial liquidation close long\n\n`101`: Partial liquidation\
          \ close short\n\n`102`: Partial liquidation buy\n\n`103`: Partial liquidation\
          \ sell\n\n`104`: Liquidation long\n\n`105`: Liquidation short\n\n`106`:\
          \ Liquidation buy\n\n`107`: Liquidation sell\n\n`108`: Clawback\n\n`110`:\
          \ Liquidation transfer in\n\n`111`: Liquidation transfer out\n\n`125`: ADL\
          \ close long\n\n`126`: ADL close short\n\n`127`: ADL buy\n\n`128`: ADL sell\n\
          \n`131`: ddh buy\n\n`132`: ddh sell\n\n`170`: Exercised(ITM buy side)\n\n\
          `171`: Counterparty exercised(ITM sell side)\n\n`172`: Expired(Non-ITM buy\
          \ and sell side)\n\n`112`: Delivery long\n\n`113`: Delivery short\n\n`117`:\
          \ Delivery/Exercise clawback\n\n`173`: Funding fee expense\n\n`174`: Funding\
          \ fee income\n\n`200`:System transfer in\n\n`201`: Manually transfer in\n\
          \n`202`: System transfer out\n\n`203`: Manually transfer out\n\n`204`: block\
          \ trade buy\n\n`205`: block trade sell\n\n`206`: block trade open long\n\
          \n`207`: block trade open short\n\n`208`: block trade close long\n\n`209`:\
          \ block trade close short\n\n`210`: Manual Borrowing of quick margin\n\n\
          `211`: Manual Repayment of quick margin\n\n`212`: Auto borrow of quick margin\n\
          \n`213`: Auto repay of quick margin\n\n`220`: Transfer in when using USDT\
          \ to buy OPTION\n\n`221`: Transfer out when using USDT to buy OPTION\n\n\
          `16`: Repay forcibly\n\n`17`: Repay interest by borrowing forcibly\n\n`224`:\
          \ Repayment transfer in\n\n`225`: Repayment transfer out\n\n`236`: Easy\
          \ convert in\n\n`237`: Easy convert out\n\n`250`: Profit sharing expenses\n\
          \n`251`: Profit sharing refund\n\n`280`: SPOT profit sharing expenses\n\n\
          `281`: SPOT profit sharing refund\n\n`270`: Spread trading buy\n\n`271`:\
          \ Spread trading sell\n\n`272`: Spread trading open long\n\n`273`: Spread\
          \ trading open short\n\n`274`: Spread trading close long\n\n`275`: Spread\
          \ trading close short\n\n`280`: SPOT profit sharing expenses\n\n`281`: SPOT\
          \ profit sharing refund \n\n`284`: Copy trade automatic transfer in\n\n\
          `285`: Copy trade manual transfer in\n\n`286`: Copy trade automatic transfer\
          \ out\n\n`287`: Copy trade manual transfer out\n\n`290`: Crypto dust auto-transfer\
          \ out\n\n`293`: Fixed loan interest deduction\n\n`294`: Fixed loan interest\
          \ refund\n\n`295`: Fixed loan overdue penalty\n\n`296`: From structured\
          \ order placements\n\n`297`: To structured order placements\n\n`298`: From\
          \ structured settlements\n\n`299`: To structured settlements\n\n`306`: Manual\
          \ borrow\n\n`307`: Auto borrow\n\n`308`: Manual repay\n\n`309`: Auto repay\n\
          \n`312`: Auto offset\n\n`318`: Convert in\n\n`319`: Convert out\n\n`320`:\
          \ Simple buy\n\n`321`: Simple sell\n\n`332`: Margin transfer in isolated\
          \ margin position \n\n`333`: Margin transfer out isolated margin position\n\
          \n`334`: Margin loss when closing isolated margin position\n\n`348`: [Credit\
          \ line] Forced repayment\n\n`350`: [Credit line] Forced repayment refund\n\
          \n`352`: [Credit line] Forced repayment penalty fee deduction\n\n`353`:\
          \ [Credit line] Forced repayment penalty fee (pending deduction)\n\n`356`:\
          \ [Credit line] Auto conversion (pending deduction)\n\n`357`: [Credit line]\
          \ Auto Conversion Transfer to Funding\n\n`355`: Settlement PnL"
        explode: true
        in: query
        name: subType
        required: false
        schema:
          default: ""
          description: "Bill subtype\n\n`1`: Buy\n\n`2`: Sell\n\n`3`: Open long\n\n\
            `4`: Open short\n\n`5`: Close long\n\n`6`: Close short\n\n`9`: Interest\
            \ deduction for Market loans\n\n`11`: Transfer in\n\n`12`: Transfer out\n\
            \n`14`: Interest deduction for VIP loans\n\n`160`: Manual margin increase\n\
            \n`161`: Manual margin decrease\n\n`162`: Auto margin increase\n\n`114`:\
            \ Forced repayment buy\n\n`115`: Forced repayment sell\n\n`118`: System\
            \ token conversion transfer in\n\n`119`: System token conversion transfer\
            \ out\n\n`100`: Partial liquidation close long\n\n`101`: Partial liquidation\
            \ close short\n\n`102`: Partial liquidation buy\n\n`103`: Partial liquidation\
            \ sell\n\n`104`: Liquidation long\n\n`105`: Liquidation short\n\n`106`:\
            \ Liquidation buy\n\n`107`: Liquidation sell\n\n`108`: Clawback\n\n`110`:\
            \ Liquidation transfer in\n\n`111`: Liquidation transfer out\n\n`125`:\
            \ ADL close long\n\n`126`: ADL close short\n\n`127`: ADL buy\n\n`128`:\
            \ ADL sell\n\n`131`: ddh buy\n\n`132`: ddh sell\n\n`170`: Exercised(ITM\
            \ buy side)\n\n`171`: Counterparty exercised(ITM sell side)\n\n`172`:\
            \ Expired(Non-ITM buy and sell side)\n\n`112`: Delivery long\n\n`113`:\
            \ Delivery short\n\n`117`: Delivery/Exercise clawback\n\n`173`: Funding\
            \ fee expense\n\n`174`: Funding fee income\n\n`200`:System transfer in\n\
            \n`201`: Manually transfer in\n\n`202`: System transfer out\n\n`203`:\
            \ Manually transfer out\n\n`204`: block trade buy\n\n`205`: block trade\
            \ sell\n\n`206`: block trade open long\n\n`207`: block trade open short\n\
            \n`208`: block trade close long\n\n`209`: block trade close short\n\n\
            `210`: Manual Borrowing of quick margin\n\n`211`: Manual Repayment of\
            \ quick margin\n\n`212`: Auto borrow of quick margin\n\n`213`: Auto repay\
            \ of quick margin\n\n`220`: Transfer in when using USDT to buy OPTION\n\
            \n`221`: Transfer out when using USDT to buy OPTION\n\n`16`: Repay forcibly\n\
            \n`17`: Repay interest by borrowing forcibly\n\n`224`: Repayment transfer\
            \ in\n\n`225`: Repayment transfer out\n\n`236`: Easy convert in\n\n`237`:\
            \ Easy convert out\n\n`250`: Profit sharing expenses\n\n`251`: Profit\
            \ sharing refund\n\n`280`: SPOT profit sharing expenses\n\n`281`: SPOT\
            \ profit sharing refund\n\n`270`: Spread trading buy\n\n`271`: Spread\
            \ trading sell\n\n`272`: Spread trading open long\n\n`273`: Spread trading\
            \ open short\n\n`274`: Spread trading close long\n\n`275`: Spread trading\
            \ close short\n\n`280`: SPOT profit sharing expenses\n\n`281`: SPOT profit\
            \ sharing refund \n\n`284`: Copy trade automatic transfer in\n\n`285`:\
            \ Copy trade manual transfer in\n\n`286`: Copy trade automatic transfer\
            \ out\n\n`287`: Copy trade manual transfer out\n\n`290`: Crypto dust auto-transfer\
            \ out\n\n`293`: Fixed loan interest deduction\n\n`294`: Fixed loan interest\
            \ refund\n\n`295`: Fixed loan overdue penalty\n\n`296`: From structured\
            \ order placements\n\n`297`: To structured order placements\n\n`298`:\
            \ From structured settlements\n\n`299`: To structured settlements\n\n\
            `306`: Manual borrow\n\n`307`: Auto borrow\n\n`308`: Manual repay\n\n\
            `309`: Auto repay\n\n`312`: Auto offset\n\n`318`: Convert in\n\n`319`:\
            \ Convert out\n\n`320`: Simple buy\n\n`321`: Simple sell\n\n`332`: Margin\
            \ transfer in isolated margin position \n\n`333`: Margin transfer out\
            \ isolated margin position\n\n`334`: Margin loss when closing isolated\
            \ margin position\n\n`348`: [Credit line] Forced repayment\n\n`350`: [Credit\
            \ line] Forced repayment refund\n\n`352`: [Credit line] Forced repayment\
            \ penalty fee deduction\n\n`353`: [Credit line] Forced repayment penalty\
            \ fee (pending deduction)\n\n`356`: [Credit line] Auto conversion (pending\
            \ deduction)\n\n`357`: [Credit line] Auto Conversion Transfer to Funding\n\
            \n`355`: Settlement PnL"
          type: string
        style: form
      - description: Pagination of data to return records earlier than the requested
          bill ID.
        explode: true
        in: query
        name: after
        required: false
        schema:
          default: ""
          description: Pagination of data to return records earlier than the requested
            bill ID.
          type: string
        style: form
      - description: Pagination of data to return records newer than the requested
          bill ID.
        explode: true
        in: query
        name: before
        required: false
        schema:
          default: ""
          description: Pagination of data to return records newer than the requested
            bill ID.
          type: string
        style: form
      - description: "Filter with a begin timestamp `ts`. Unix timestamp format in\
          \ milliseconds, e.g. `1597026383085`"
        explode: true
        in: query
        name: begin
        required: false
        schema:
          default: ""
          description: "Filter with a begin timestamp `ts`. Unix timestamp format\
            \ in milliseconds, e.g. `1597026383085`"
          type: string
        style: form
      - description: "Filter with an end timestamp `ts`. Unix timestamp format in\
          \ milliseconds, e.g. `1597026383085`"
        explode: true
        in: query
        name: end
        required: false
        schema:
          default: ""
          description: "Filter with an end timestamp `ts`. Unix timestamp format in\
            \ milliseconds, e.g. `1597026383085`"
          type: string
        style: form
      - description: Number of results per request. The maximum is `100`. The default
          is `100`.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: ""
          description: Number of results per request. The maximum is `100`. The default
            is `100`.
          type: string
        style: form
      responses:
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Server Error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAccountBillsV5Resp'
          description: Successful operation
      security:
      - APIKey: []
        Passphrase: []
      summary: |+
        Retrieve the bills of the account. The bill refers to all transaction records that result in changing the balance of an account. Pagination is supported, and the response is sorted with the most recent first. This endpoint can retrieve data from the last 7 days.

      tags:
      - Trading Account
  /api/v5/account/bills-archive:
    get:
      description: "Retrieve the account’s bills. The bill refers to all transaction\
        \ records that result in changing the balance of an account. Pagination is\
        \ supported, and the response is sorted with most recent first. This endpoint\
        \ can retrieve data from the last 1 year since July 1, 2024.\n\n#### Rate\
        \ Limit: 5 requests per 2 seconds \n\n#### Rate limit rule: User ID \n\n####\
        \ Permission: Read \n\n"
      operationId: GetAccountBillsArchiveV5
      parameters:
      - description: |-
          Instrument type

          `SPOT`

          `MARGIN`

          `SWAP`

          `FUTURES`

          `OPTION`
        explode: true
        in: query
        name: instType
        required: false
        schema:
          default: ""
          description: |-
            Instrument type

            `SPOT`

            `MARGIN`

            `SWAP`

            `FUTURES`

            `OPTION`
          type: string
        style: form
      - description: "Instrument ID, e.g. `BTC-USDT`"
        explode: true
        in: query
        name: instId
        required: false
        schema:
          default: ""
          description: "Instrument ID, e.g. `BTC-USDT`"
          type: string
        style: form
      - description: Bill currency
        explode: true
        in: query
        name: ccy
        required: false
        schema:
          default: ""
          description: Bill currency
          type: string
        style: form
      - description: |-
          Margin mode

          `isolated`

          `cross`
        explode: true
        in: query
        name: mgnMode
        required: false
        schema:
          default: ""
          description: |-
            Margin mode

            `isolated`

            `cross`
          type: string
        style: form
      - description: |-
          Contract type

          `linear`

          `inverse`

          Only applicable to `FUTURES`/`SWAP`
        explode: true
        in: query
        name: ctType
        required: false
        schema:
          default: ""
          description: |-
            Contract type

            `linear`

            `inverse`

            Only applicable to `FUTURES`/`SWAP`
          type: string
        style: form
      - description: |-
          Bill type

          `1`: Transfer

          `2`: Trade

          `3`: Delivery

          `4`: Forced repayment

          `5`: Liquidation

          `6`: Margin transfer

          `7`: Interest deduction

          `8`: Funding fee

          `9`: ADL

          `10`: Clawback

          `11`: System token conversion

          `12`: Strategy transfer

          `13`: DDH

          `14`: Block trade

          `15`: Quick Margin

          `16`: Borrowing

          `22`: Repay

          `24`: Spread trading

          `26`: Structured products

          `27`: Convert

          `28`: Easy convert

          `29`: One-click repay

          `30`: Simple trade

          `33`: Loans

          `34`: Settlement

          `250`: Copy trader profit sharing expenses

          `251`: Copy trader profit sharing refund
        explode: true
        in: query
        name: type
        required: false
        schema:
          default: ""
          description: |-
            Bill type

            `1`: Transfer

            `2`: Trade

            `3`: Delivery

            `4`: Forced repayment

            `5`: Liquidation

            `6`: Margin transfer

            `7`: Interest deduction

            `8`: Funding fee

            `9`: ADL

            `10`: Clawback

            `11`: System token conversion

            `12`: Strategy transfer

            `13`: DDH

            `14`: Block trade

            `15`: Quick Margin

            `16`: Borrowing

            `22`: Repay

            `24`: Spread trading

            `26`: Structured products

            `27`: Convert

            `28`: Easy convert

            `29`: One-click repay

            `30`: Simple trade

            `33`: Loans

            `34`: Settlement

            `250`: Copy trader profit sharing expenses

            `251`: Copy trader profit sharing refund
          type: string
        style: form
      - description: "Bill subtype\n\n`1`: Buy\n\n`2`: Sell\n\n`3`: Open long\n\n\
          `4`: Open short\n\n`5`: Close long\n\n`6`: Close short\n\n`9`: Interest\
          \ deduction for Market loans\n\n`11`: Transfer in\n\n`12`: Transfer out\n\
          \n`14`: Interest deduction for VIP loans\n\n`160`: Manual margin increase\n\
          \n`161`: Manual margin decrease\n\n`162`: Auto margin increase\n\n`114`:\
          \ Forced repayment buy\n\n`115`: Forced repayment sell\n\n`118`: System\
          \ token conversion transfer in\n\n`119`: System token conversion transfer\
          \ out\n\n`100`: Partial liquidation close long\n\n`101`: Partial liquidation\
          \ close short\n\n`102`: Partial liquidation buy\n\n`103`: Partial liquidation\
          \ sell\n\n`104`: Liquidation long\n\n`105`: Liquidation short\n\n`106`:\
          \ Liquidation buy\n\n`107`: Liquidation sell\n\n`108`: Clawback\n\n`110`:\
          \ Liquidation transfer in\n\n`111`: Liquidation transfer out\n\n`125`: ADL\
          \ close long\n\n`126`: ADL close short\n\n`127`: ADL buy\n\n`128`: ADL sell\n\
          \n`131`: ddh buy\n\n`132`: ddh sell\n\n`170`: Exercised(ITM buy side)\n\n\
          `171`: Counterparty exercised(ITM sell side)\n\n`172`: Expired(Non-ITM buy\
          \ and sell side)\n\n`112`: Delivery long\n\n`113`: Delivery short\n\n`117`:\
          \ Delivery/Exercise clawback\n\n`173`: Funding fee expense\n\n`174`: Funding\
          \ fee income\n\n`200`:System transfer in\n\n`201`: Manually transfer in\n\
          \n`202`: System transfer out\n\n`203`: Manually transfer out\n\n`204`: block\
          \ trade buy\n\n`205`: block trade sell\n\n`206`: block trade open long\n\
          \n`207`: block trade open short\n\n`208`: block trade close long\n\n`209`:\
          \ block trade close short\n\n`210`: Manual Borrowing of quick margin\n\n\
          `211`: Manual Repayment of quick margin\n\n`212`: Auto borrow of quick margin\n\
          \n`213`: Auto repay of quick margin\n\n`220`: Transfer in when using USDT\
          \ to buy OPTION\n\n`221`: Transfer out when using USDT to buy OPTION\n\n\
          `16`: Repay forcibly\n\n`17`: Repay interest by borrowing forcibly\n\n`224`:\
          \ Repayment transfer in\n\n`225`: Repayment transfer out\n\n`236`: Easy\
          \ convert in\n\n`237`: Easy convert out\n\n`250`: Profit sharing expenses\n\
          \n`251`: Profit sharing refund\n\n`280`: SPOT profit sharing expenses\n\n\
          `281`: SPOT profit sharing refund\n\n`270`: Spread trading buy\n\n`271`:\
          \ Spread trading sell\n\n`272`: Spread trading open long\n\n`273`: Spread\
          \ trading open short\n\n`274`: Spread trading close long\n\n`275`: Spread\
          \ trading close short\n\n`280`: SPOT profit sharing expenses\n\n`281`: SPOT\
          \ profit sharing refund \n\n`284`: Copy trade automatic transfer in\n\n\
          `285`: Copy trade manual transfer in\n\n`286`: Copy trade automatic transfer\
          \ out\n\n`287`: Copy trade manual transfer out\n\n`290`: Crypto dust auto-transfer\
          \ out\n\n`293`: Fixed loan interest deduction\n\n`294`: Fixed loan interest\
          \ refund\n\n`295`: Fixed loan overdue penalty\n\n`296`: From structured\
          \ order placements\n\n`297`: To structured order placements\n\n`298`: From\
          \ structured settlements\n\n`299`: To structured settlements\n\n`306`: Manual\
          \ borrow\n\n`307`: Auto borrow\n\n`308`: Manual repay\n\n`309`: Auto repay\n\
          \n`312`: Auto offset\n\n`318`: Convert in\n\n`319`: Convert out\n\n`320`:\
          \ Simple buy\n\n`321`: Simple sell\n\n`332`: Margin transfer in isolated\
          \ margin position \n\n`333`: Margin transfer out isolated margin position\n\
          \n`334`: Margin loss when closing isolated margin position\n\n`348`: [Credit\
          \ line] Forced repayment\n\n`350`: [Credit line] Forced repayment refund\n\
          \n`352`: [Credit line] Forced repayment penalty fee deduction\n\n`353`:\
          \ [Credit line] Forced repayment penalty fee (pending deduction)\n\n`356`:\
          \ [Credit line] Auto conversion (pending deduction)\n\n`357`: [Credit line]\
          \ Auto Conversion Transfer to Funding\n\n`355`: Settlement PnL"
        explode: true
        in: query
        name: subType
        required: false
        schema:
          default: ""
          description: "Bill subtype\n\n`1`: Buy\n\n`2`: Sell\n\n`3`: Open long\n\n\
            `4`: Open short\n\n`5`: Close long\n\n`6`: Close short\n\n`9`: Interest\
            \ deduction for Market loans\n\n`11`: Transfer in\n\n`12`: Transfer out\n\
            \n`14`: Interest deduction for VIP loans\n\n`160`: Manual margin increase\n\
            \n`161`: Manual margin decrease\n\n`162`: Auto margin increase\n\n`114`:\
            \ Forced repayment buy\n\n`115`: Forced repayment sell\n\n`118`: System\
            \ token conversion transfer in\n\n`119`: System token conversion transfer\
            \ out\n\n`100`: Partial liquidation close long\n\n`101`: Partial liquidation\
            \ close short\n\n`102`: Partial liquidation buy\n\n`103`: Partial liquidation\
            \ sell\n\n`104`: Liquidation long\n\n`105`: Liquidation short\n\n`106`:\
            \ Liquidation buy\n\n`107`: Liquidation sell\n\n`108`: Clawback\n\n`110`:\
            \ Liquidation transfer in\n\n`111`: Liquidation transfer out\n\n`125`:\
            \ ADL close long\n\n`126`: ADL close short\n\n`127`: ADL buy\n\n`128`:\
            \ ADL sell\n\n`131`: ddh buy\n\n`132`: ddh sell\n\n`170`: Exercised(ITM\
            \ buy side)\n\n`171`: Counterparty exercised(ITM sell side)\n\n`172`:\
            \ Expired(Non-ITM buy and sell side)\n\n`112`: Delivery long\n\n`113`:\
            \ Delivery short\n\n`117`: Delivery/Exercise clawback\n\n`173`: Funding\
            \ fee expense\n\n`174`: Funding fee income\n\n`200`:System transfer in\n\
            \n`201`: Manually transfer in\n\n`202`: System transfer out\n\n`203`:\
            \ Manually transfer out\n\n`204`: block trade buy\n\n`205`: block trade\
            \ sell\n\n`206`: block trade open long\n\n`207`: block trade open short\n\
            \n`208`: block trade close long\n\n`209`: block trade close short\n\n\
            `210`: Manual Borrowing of quick margin\n\n`211`: Manual Repayment of\
            \ quick margin\n\n`212`: Auto borrow of quick margin\n\n`213`: Auto repay\
            \ of quick margin\n\n`220`: Transfer in when using USDT to buy OPTION\n\
            \n`221`: Transfer out when using USDT to buy OPTION\n\n`16`: Repay forcibly\n\
            \n`17`: Repay interest by borrowing forcibly\n\n`224`: Repayment transfer\
            \ in\n\n`225`: Repayment transfer out\n\n`236`: Easy convert in\n\n`237`:\
            \ Easy convert out\n\n`250`: Profit sharing expenses\n\n`251`: Profit\
            \ sharing refund\n\n`280`: SPOT profit sharing expenses\n\n`281`: SPOT\
            \ profit sharing refund\n\n`270`: Spread trading buy\n\n`271`: Spread\
            \ trading sell\n\n`272`: Spread trading open long\n\n`273`: Spread trading\
            \ open short\n\n`274`: Spread trading close long\n\n`275`: Spread trading\
            \ close short\n\n`280`: SPOT profit sharing expenses\n\n`281`: SPOT profit\
            \ sharing refund \n\n`284`: Copy trade automatic transfer in\n\n`285`:\
            \ Copy trade manual transfer in\n\n`286`: Copy trade automatic transfer\
            \ out\n\n`287`: Copy trade manual transfer out\n\n`290`: Crypto dust auto-transfer\
            \ out\n\n`293`: Fixed loan interest deduction\n\n`294`: Fixed loan interest\
            \ refund\n\n`295`: Fixed loan overdue penalty\n\n`296`: From structured\
            \ order placements\n\n`297`: To structured order placements\n\n`298`:\
            \ From structured settlements\n\n`299`: To structured settlements\n\n\
            `306`: Manual borrow\n\n`307`: Auto borrow\n\n`308`: Manual repay\n\n\
            `309`: Auto repay\n\n`312`: Auto offset\n\n`318`: Convert in\n\n`319`:\
            \ Convert out\n\n`320`: Simple buy\n\n`321`: Simple sell\n\n`332`: Margin\
            \ transfer in isolated margin position \n\n`333`: Margin transfer out\
            \ isolated margin position\n\n`334`: Margin loss when closing isolated\
            \ margin position\n\n`348`: [Credit line] Forced repayment\n\n`350`: [Credit\
            \ line] Forced repayment refund\n\n`352`: [Credit line] Forced repayment\
            \ penalty fee deduction\n\n`353`: [Credit line] Forced repayment penalty\
            \ fee (pending deduction)\n\n`356`: [Credit line] Auto conversion (pending\
            \ deduction)\n\n`357`: [Credit line] Auto Conversion Transfer to Funding\n\
            \n`355`: Settlement PnL"
          type: string
        style: form
      - description: Pagination of data to return records earlier than the requested
          bill ID.
        explode: true
        in: query
        name: after
        required: false
        schema:
          default: ""
          description: Pagination of data to return records earlier than the requested
            bill ID.
          type: string
        style: form
      - description: Pagination of data to return records newer than the requested
          bill ID.
        explode: true
        in: query
        name: before
        required: false
        schema:
          default: ""
          description: Pagination of data to return records newer than the requested
            bill ID.
          type: string
        style: form
      - description: "Filter with a begin timestamp  `ts`. Unix timestamp format in\
          \ milliseconds, e.g. `1597026383085`"
        explode: true
        in: query
        name: begin
        required: false
        schema:
          default: ""
          description: "Filter with a begin timestamp  `ts`. Unix timestamp format\
            \ in milliseconds, e.g. `1597026383085`"
          type: string
        style: form
      - description: "Filter with an end timestamp  `ts`. Unix timestamp format in\
          \ milliseconds, e.g. `1597026383085`"
        explode: true
        in: query
        name: end
        required: false
        schema:
          default: ""
          description: "Filter with an end timestamp  `ts`. Unix timestamp format\
            \ in milliseconds, e.g. `1597026383085`"
          type: string
        style: form
      - description: Number of results per request. The maximum is `100`. The default
          is `100`.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: ""
          description: Number of results per request. The maximum is `100`. The default
            is `100`.
          type: string
        style: form
      responses:
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Server Error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAccountBillsArchiveV5Resp'
          description: Successful operation
      security:
      - APIKey: []
        Passphrase: []
      summary: |+
        Retrieve the account’s bills. The bill refers to all transaction records that result in changing the balance of an account. Pagination is supported, and the response is sorted with most recent first. This endpoint can retrieve data from the last 1 year since July 1, 2024.

      tags:
      - Trading Account
  /api/v5/account/bills-history-archive:
    get:
      description: "Apply for bill data since 1 February, 2021 except for the current\
        \ quarter.\n\n#### Rate Limit: 10 requests per 2 seconds \n\n#### Rate limit\
        \ rule: User ID \n\n#### Permission: Read \n\n"
      operationId: GetAccountBillsHistoryArchiveV5
      parameters:
      - description: 4 digits year
        explode: true
        in: query
        name: year
        required: true
        schema:
          default: ""
          description: 4 digits year
          type: string
        style: form
      - description: "Quarter, valid value is `Q1`, `Q2`, `Q3`, `Q4`"
        explode: true
        in: query
        name: quarter
        required: true
        schema:
          default: ""
          description: "Quarter, valid value is `Q1`, `Q2`, `Q3`, `Q4`"
          type: string
        style: form
      responses:
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Server Error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAccountBillsHistoryArchiveV5Resp'
          description: Successful operation
      security:
      - APIKey: []
        Passphrase: []
      summary: |+
        Apply for bill data since 1 February, 2021 except for the current quarter.

      tags:
      - Trading Account
    post:
      description: "Apply for bill data since 1 February, 2021 except for the current\
        \ quarter.\n\n#### Rate Limit：12 requests per day \n\n#### Rate limit rule:\
        \ User ID \n\n#### Permission: Read \n\n"
      operationId: CreateAccountBillsHistoryArchiveV5
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAccountBillsHistoryArchiveV5Req'
        description: The request body for CreateAccountBillsHistoryArchiveV5
        required: true
      responses:
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Server Error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAccountBillsHistoryArchiveV5Resp'
          description: Successful operation
      security:
      - APIKey: []
        Passphrase: []
      summary: |+
        Apply for bill data since 1 February, 2021 except for the current quarter.

      tags:
      - Trading Account
  /api/v5/account/collateral-assets:
    get:
      description: "#### Rate Limit: 5 requests per 2 seconds \n\n#### Rate limit\
        \ rule: User ID \n\n#### Permission: Read \n\n"
      operationId: GetAccountCollateralAssetsV5
      parameters:
      - description: "Single currency or multiple currencies (no more than 20) separated\
          \ with comma, e.g. \"BTC\" or \"BTC,ETH\"."
        explode: true
        in: query
        name: ccy
        required: false
        schema:
          default: ""
          description: "Single currency or multiple currencies (no more than 20) separated\
            \ with comma, e.g. \"BTC\" or \"BTC,ETH\"."
          type: string
        style: form
      - description: Whether or not to be a collateral asset
        explode: true
        in: query
        name: collateralEnabled
        required: false
        schema:
          description: Whether or not to be a collateral asset
          type: boolean
        style: form
      responses:
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Server Error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAccountCollateralAssetsV5Resp'
          description: Successful operation
      security:
      - APIKey: []
        Passphrase: []
      tags:
      - Trading Account
  /api/v5/account/config:
    get:
      description: "Retrieve current account configuration.\n\n#### Rate Limit: 5\
        \ requests per 2 seconds \n\n#### Rate limit rule: User ID \n\n#### Permission:\
        \ Read \n\n"
      operationId: GetAccountConfigV5
      responses:
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Server Error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAccountConfigV5Resp'
          description: Successful operation
      security:
      - APIKey: []
        Passphrase: []
      summary: |+
        Retrieve current account configuration.

      tags:
      - Trading Account
  /api/v5/account/greeks:
    get:
      description: "Retrieve a greeks list of all assets in the account.\n\n#### Rate\
        \ Limit: 10 requests per 2 seconds \n\n#### Rate limit rule: User ID \n\n\
        #### Permission: Read \n\n"
      operationId: GetAccountGreeksV5
      parameters:
      - description: "Single currency, e.g. `BTC`."
        explode: true
        in: query
        name: ccy
        required: false
        schema:
          default: ""
          description: "Single currency, e.g. `BTC`."
          type: string
        style: form
      responses:
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Server Error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAccountGreeksV5Resp'
          description: Successful operation
      security:
      - APIKey: []
        Passphrase: []
      summary: |+
        Retrieve a greeks list of all assets in the account.

      tags:
      - Trading Account
  /api/v5/account/instruments:
    get:
      description: "Retrieve available instruments info of current account.\n\n####\
        \ Rate Limit: 20 requests per 2 seconds \n\n#### Rate limit rule: User ID\
        \ + Instrument Type \n\n#### Permission: Read \n\n"
      operationId: GetAccountInstrumentsV5
      parameters:
      - description: |-
          Instrument type

          `SPOT`: Spot

          `MARGIN`: Margin

          `SWAP`: Perpetual Futures

          `FUTURES`: Expiry Futures

          `OPTION`: Option
        explode: true
        in: query
        name: instType
        required: true
        schema:
          default: ""
          description: |-
            Instrument type

            `SPOT`: Spot

            `MARGIN`: Margin

            `SWAP`: Perpetual Futures

            `FUTURES`: Expiry Futures

            `OPTION`: Option
          type: string
        style: form
      - description: "Underlying \n\nOnly applicable to `FUTURES`/`SWAP`/`OPTION`.If\
          \ instType is `OPTION`, either `uly` or `instFamily` is required."
        explode: true
        in: query
        name: uly
        required: false
        schema:
          default: ""
          description: "Underlying \n\nOnly applicable to `FUTURES`/`SWAP`/`OPTION`.If\
            \ instType is `OPTION`, either `uly` or `instFamily` is required."
          type: string
        style: form
      - description: |-
          Instrument family

          Only applicable to `FUTURES`/`SWAP`/`OPTION`. If instType is `OPTION`, either `uly` or `instFamily` is required.
        explode: true
        in: query
        name: instFamily
        required: false
        schema:
          default: ""
          description: |-
            Instrument family

            Only applicable to `FUTURES`/`SWAP`/`OPTION`. If instType is `OPTION`, either `uly` or `instFamily` is required.
          type: string
        style: form
      - description: Instrument ID
        explode: true
        in: query
        name: instId
        required: false
        schema:
          default: ""
          description: Instrument ID
          type: string
        style: form
      responses:
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Server Error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAccountInstrumentsV5Resp'
          description: Successful operation
      security:
      - APIKey: []
        Passphrase: []
      summary: |+
        Retrieve available instruments info of current account.

      tags:
      - Trading Account
  /api/v5/account/interest-accrued:
    get:
      description: "Get interest accrued data. Only data within the last one year\
        \ can be obtained.\n\n#### Rate Limit: 5 requests per 2 seconds \n\n#### Rate\
        \ limit rule: User ID \n\n#### Permission: Read \n\n"
      operationId: GetAccountInterestAccruedV5
      parameters:
      - description: |-
          Loan type

          `2`: Market loans

          Default is `2`
        explode: true
        in: query
        name: type
        required: false
        schema:
          default: ""
          description: |-
            Loan type

            `2`: Market loans

            Default is `2`
          type: string
        style: form
      - description: |-
          Loan currency, e.g. `BTC`

          Only applicable to `Market loans`

          Only applicable to`MARGIN`
        explode: true
        in: query
        name: ccy
        required: false
        schema:
          default: ""
          description: |-
            Loan currency, e.g. `BTC`

            Only applicable to `Market loans`

            Only applicable to`MARGIN`
          type: string
        style: form
      - description: |-
          Instrument ID, e.g. `BTC-USDT`

          Only applicable to `Market loans`
        explode: true
        in: query
        name: instId
        required: false
        schema:
          default: ""
          description: |-
            Instrument ID, e.g. `BTC-USDT`

            Only applicable to `Market loans`
          type: string
        style: form
      - description: "Margin mode\n\n`cross`  \n\n`isolated`\n\nOnly applicable to\
          \ `Market loans`"
        explode: true
        in: query
        name: mgnMode
        required: false
        schema:
          default: ""
          description: "Margin mode\n\n`cross`  \n\n`isolated`\n\nOnly applicable\
            \ to `Market loans`"
          type: string
        style: form
      - description: "Pagination of data to return records earlier than the requested\
          \ timestamp, Unix timestamp format in milliseconds, e.g. `1597026383085`"
        explode: true
        in: query
        name: after
        required: false
        schema:
          default: ""
          description: "Pagination of data to return records earlier than the requested\
            \ timestamp, Unix timestamp format in milliseconds, e.g. `1597026383085`"
          type: string
        style: form
      - description: "Pagination of data to return records newer than the requested,\
          \ Unix timestamp format in milliseconds, e.g. `1597026383085`"
        explode: true
        in: query
        name: before
        required: false
        schema:
          default: ""
          description: "Pagination of data to return records newer than the requested,\
            \ Unix timestamp format in milliseconds, e.g. `1597026383085`"
          type: string
        style: form
      - description: Number of results per request. The maximum is `100`. The default
          is `100`.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: ""
          description: Number of results per request. The maximum is `100`. The default
            is `100`.
          type: string
        style: form
      responses:
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Server Error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAccountInterestAccruedV5Resp'
          description: Successful operation
      security:
      - APIKey: []
        Passphrase: []
      summary: |+
        Get interest accrued data. Only data within the last one year can be obtained.

      tags:
      - Trading Account
  /api/v5/account/interest-limits:
    get:
      description: "#### Rate Limit: 5 requests per 2 seconds \n\n#### Rate limit\
        \ rule: User ID \n\n#### Permission: Read \n\n"
      operationId: GetAccountInterestLimitsV5
      parameters:
      - description: |-
          Loan type

          `2`: Market loans

          Default is `2`
        explode: true
        in: query
        name: type
        required: false
        schema:
          default: ""
          description: |-
            Loan type

            `2`: Market loans

            Default is `2`
          type: string
        style: form
      - description: "Loan currency, e.g. `BTC`"
        explode: true
        in: query
        name: ccy
        required: false
        schema:
          default: ""
          description: "Loan currency, e.g. `BTC`"
          type: string
        style: form
      responses:
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Server Error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAccountInterestLimitsV5Resp'
          description: Successful operation
      security:
      - APIKey: []
        Passphrase: []
      tags:
      - Trading Account
  /api/v5/account/interest-rate:
    get:
      description: "Get the user's current leveraged currency borrowing market interest\
        \ rate\n\n#### Rate Limit: 5 requests per 2 seconds \n\n#### Rate limit rule:\
        \ User ID \n\n#### Permission: Read \n\n"
      operationId: GetAccountInterestRateV5
      parameters:
      - description: "Currency, e.g. `BTC`"
        explode: true
        in: query
        name: ccy
        required: false
        schema:
          default: ""
          description: "Currency, e.g. `BTC`"
          type: string
        style: form
      responses:
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Server Error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAccountInterestRateV5Resp'
          description: Successful operation
      security:
      - APIKey: []
        Passphrase: []
      summary: |+
        Get the user's current leveraged currency borrowing market interest rate

      tags:
      - Trading Account
  /api/v5/account/leverage-info:
    get:
      description: "#### Rate Limit: 20 requests per 2 seconds \n\n#### Rate limit\
        \ rule: User ID \n\n#### Permission: Read \n\n"
      operationId: GetAccountLeverageInfoV5
      parameters:
      - description: |-
          Instrument ID

          Single instrument ID or multiple instrument IDs (no more than 20) separated with comma
        explode: true
        in: query
        name: instId
        required: false
        schema:
          default: ""
          description: |-
            Instrument ID

            Single instrument ID or multiple instrument IDs (no more than 20) separated with comma
          type: string
        style: form
      - description: |-
          Currency，used for getting leverage of currency level.

          Applicable to `cross` `MARGIN` of `Spot mode`/`Multi-currency margin`/`Portfolio margin`.

          Supported single currency or multiple currencies (no more than 20) separated with comma.
        explode: true
        in: query
        name: ccy
        required: false
        schema:
          default: ""
          description: |-
            Currency，used for getting leverage of currency level.

            Applicable to `cross` `MARGIN` of `Spot mode`/`Multi-currency margin`/`Portfolio margin`.

            Supported single currency or multiple currencies (no more than 20) separated with comma.
          type: string
        style: form
      - description: |-
          Margin mode

          `cross` `isolated`
        explode: true
        in: query
        name: mgnMode
        required: true
        schema:
          default: ""
          description: |-
            Margin mode

            `cross` `isolated`
          type: string
        style: form
      responses:
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Server Error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAccountLeverageInfoV5Resp'
          description: Successful operation
      security:
      - APIKey: []
        Passphrase: []
      tags:
      - Trading Account
  /api/v5/account/max-avail-size:
    get:
      description: "Available balance for isolated margin positions and SPOT, available\
        \ equity for cross margin positions.\n\n#### Rate Limit: 20 requests per 2\
        \ seconds \n\n#### Rate limit rule: User ID \n\n#### Permission: Read \n\n"
      operationId: GetAccountMaxAvailSizeV5
      parameters:
      - description: "Single instrument or multiple instruments (no more than 5) separated\
          \ with comma, e.g. `BTC-USDT,ETH-USDT`"
        explode: true
        in: query
        name: instId
        required: true
        schema:
          default: ""
          description: "Single instrument or multiple instruments (no more than 5)\
            \ separated with comma, e.g. `BTC-USDT,ETH-USDT`"
          type: string
        style: form
      - description: |-
          Currency used for margin

          Applicable to `isolated` `MARGIN` and `cross` `MARGIN` in `Spot and futures mode`.
        explode: true
        in: query
        name: ccy
        required: false
        schema:
          default: ""
          description: |-
            Currency used for margin

            Applicable to `isolated` `MARGIN` and `cross` `MARGIN` in `Spot and futures mode`.
          type: string
        style: form
      - description: |-
          Trade mode

          `cross`

          `isolated`

          `cash`

          `spot_isolated`
        explode: true
        in: query
        name: tdMode
        required: true
        schema:
          default: ""
          description: |-
            Trade mode

            `cross`

            `isolated`

            `cash`

            `spot_isolated`
          type: string
        style: form
      - description: "Whether to reduce position only \n\nOnly applicable to `MARGIN`"
        explode: true
        in: query
        name: reduceOnly
        required: false
        schema:
          description: "Whether to reduce position only \n\nOnly applicable to `MARGIN`"
          type: boolean
        style: form
      - description: "The price of closing position. \n\nOnly applicable to reduceOnly\
          \ `MARGIN`."
        explode: true
        in: query
        name: px
        required: false
        schema:
          default: ""
          description: "The price of closing position. \n\nOnly applicable to reduceOnly\
            \ `MARGIN`."
          type: string
        style: form
      responses:
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Server Error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAccountMaxAvailSizeV5Resp'
          description: Successful operation
      security:
      - APIKey: []
        Passphrase: []
      summary: |+
        Available balance for isolated margin positions and SPOT, available equity for cross margin positions.

      tags:
      - Trading Account
  /api/v5/account/max-loan:
    get:
      description: "#### Rate Limit: 20 requests per 2 seconds \n\n#### Rate limit\
        \ rule: User ID \n\n#### Permission: Read \n\n"
      operationId: GetAccountMaxLoanV5
      parameters:
      - description: |-
          Margin mode

          `isolated` `cross`
        explode: true
        in: query
        name: mgnMode
        required: true
        schema:
          default: ""
          description: |-
            Margin mode

            `isolated` `cross`
          type: string
        style: form
      - description: "Single instrument or multiple instruments (no more than 5) separated\
          \ with comma, e.g. `BTC-USDT,ETH-USDT`"
        explode: true
        in: query
        name: instId
        required: false
        schema:
          default: ""
          description: "Single instrument or multiple instruments (no more than 5)\
            \ separated with comma, e.g. `BTC-USDT,ETH-USDT`"
          type: string
        style: form
      - description: |-
          Currency

          Applicable to get Max loan of manual borrow for the currency in `Spot mode` (enabled borrowing)
        explode: true
        in: query
        name: ccy
        required: false
        schema:
          default: ""
          description: |-
            Currency

            Applicable to get Max loan of manual borrow for the currency in `Spot mode` (enabled borrowing)
          type: string
        style: form
      - description: |-
          Margin currency

          Applicable to `isolated` `MARGIN` and `cross` `MARGIN` in `Spot and futures mode`.
        explode: true
        in: query
        name: mgnCcy
        required: false
        schema:
          default: ""
          description: |-
            Margin currency

            Applicable to `isolated` `MARGIN` and `cross` `MARGIN` in `Spot and futures mode`.
          type: string
        style: form
      responses:
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Server Error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAccountMaxLoanV5Resp'
          description: Successful operation
      security:
      - APIKey: []
        Passphrase: []
      tags:
      - Trading Account
  /api/v5/account/max-size:
    get:
      description: "The maximum quantity to buy or sell. It corresponds to the \"\
        sz\" from placement.\n\n**_Under the Portfolio Margin account, the calculation\
        \ of the maximum buy/sell amount or open amount is not supported under the\
        \ cross mode of derivatives._**\n\n#### Rate Limit: 20 requests per 2 seconds\
        \ \n\n#### Rate limit rule: User ID \n\n#### Permission: Read \n\n"
      operationId: GetAccountMaxSizeV5
      parameters:
      - description: "Single instrument or multiple instruments (no more than 5) in\
          \ the smae instrument type separated with comma, e.g. `BTC-USDT,ETH-USDT`"
        explode: true
        in: query
        name: instId
        required: true
        schema:
          default: ""
          description: "Single instrument or multiple instruments (no more than 5)\
            \ in the smae instrument type separated with comma, e.g. `BTC-USDT,ETH-USDT`"
          type: string
        style: form
      - description: |-
          Trade mode

          `cross`

          `isolated`

          `cash`

          `spot_isolated`
        explode: true
        in: query
        name: tdMode
        required: true
        schema:
          default: ""
          description: |-
            Trade mode

            `cross`

            `isolated`

            `cash`

            `spot_isolated`
          type: string
        style: form
      - description: "Currency used for margin \n\nApplicable to `isolated` `MARGIN`\
          \ and `cross` `MARGIN` orders in `Spot and futures mode`."
        explode: true
        in: query
        name: ccy
        required: false
        schema:
          default: ""
          description: "Currency used for margin \n\nApplicable to `isolated` `MARGIN`\
            \ and `cross` `MARGIN` orders in `Spot and futures mode`."
          type: string
        style: form
      - description: |-
          Price

          When the price is not specified, it will be calculated according to the current limit price for `FUTURES` and `SWAP`, the last traded price for other instrument types.

          The parameter will be ignored when multiple instruments are specified.
        explode: true
        in: query
        name: px
        required: false
        schema:
          default: ""
          description: |-
            Price

            When the price is not specified, it will be calculated according to the current limit price for `FUTURES` and `SWAP`, the last traded price for other instrument types.

            The parameter will be ignored when multiple instruments are specified.
          type: string
        style: form
      - description: |-
          Leverage for instrument

          The default is current leverage

          Only applicable to `MARGIN/FUTURES/SWAP`
        explode: true
        in: query
        name: leverage
        required: false
        schema:
          default: ""
          description: |-
            Leverage for instrument

            The default is current leverage

            Only applicable to `MARGIN/FUTURES/SWAP`
          type: string
        style: form
      responses:
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Server Error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAccountMaxSizeV5Resp'
          description: Successful operation
      security:
      - APIKey: []
        Passphrase: []
      summary: |+
        The maximum quantity to buy or sell. It corresponds to the "sz" from placement.

      tags:
      - Trading Account
  /api/v5/account/max-withdrawal:
    get:
      description: "Retrieve the maximum transferable amount from trading account\
        \ to funding account. If no currency is specified, the transferable amount\
        \ of all owned currencies will be returned.\n\n#### Rate Limit: 20 requests\
        \ per 2 seconds \n\n#### Rate limit rule: User ID \n\n#### Permission: Read\
        \ \n\n"
      operationId: GetAccountMaxWithdrawalV5
      parameters:
      - description: "Single currency or multiple currencies (no more than 20) separated\
          \ with comma, e.g. `BTC` or `BTC,ETH`."
        explode: true
        in: query
        name: ccy
        required: false
        schema:
          default: ""
          description: "Single currency or multiple currencies (no more than 20) separated\
            \ with comma, e.g. `BTC` or `BTC,ETH`."
          type: string
        style: form
      responses:
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Server Error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAccountMaxWithdrawalV5Resp'
          description: Successful operation
      security:
      - APIKey: []
        Passphrase: []
      summary: |+
        Retrieve the maximum transferable amount from trading account to funding account. If no currency is specified, the transferable amount of all owned currencies will be returned.

      tags:
      - Trading Account
  /api/v5/account/mmp-config:
    get:
      description: "This endpoint is used to get MMP configure information\n\n\n\n\
        Only applicable to Option in Portfolio Margin mode, and MMP privilege is required.\n\
        \n#### Rate Limit: 5 requests per 2 seconds \n\n#### Rate limit rule: User\
        \ ID \n\n#### Permission: Read \n\n"
      operationId: GetAccountMmpConfigV5
      parameters:
      - description: Instrument Family
        explode: true
        in: query
        name: instFamily
        required: false
        schema:
          default: ""
          description: Instrument Family
          type: string
        style: form
      responses:
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Server Error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAccountMmpConfigV5Resp'
          description: Successful operation
      security:
      - APIKey: []
        Passphrase: []
      summary: |+
        This endpoint is used to get MMP configure information



        Only applicable to Option in Portfolio Margin mode, and MMP privilege is required.

      tags:
      - Trading Account
    post:
      description: "This endpoint is used to set MMP configure\n\n\n\nOnly applicable\
        \ to Option in Portfolio Margin mode, and MMP privilege is required.\n\n**_What\
        \ is MMP?Market Maker Protection (MMP) is an automated mechanism for market\
        \ makers to pull their quotes when their executions exceed a certain threshold(`qtyLimit`)\
        \ within a certain time frame(`timeInterval`). Once mmp is triggered, any\
        \ pre-existing mmp pending orders(`mmp` and `mmp_and_post_only` orders) will\
        \ be automatically canceled, and new orders tagged as MMP will be rejected\
        \ for a specific duration(`frozenInterval`), or until manual reset by makers.How\
        \ to enable MMP?Please send an email to institutional@okx.com or contact your\
        \ business development (BD) manager to apply for MMP. The initial threshold\
        \ will be upon your request._**\n\n#### Rate Limit: 2 requests per 10 seconds\
        \ \n\n#### Rate limit rule: User ID \n\n#### Permission: Trade \n\n"
      operationId: CreateAccountMmpConfigV5
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAccountMmpConfigV5Req'
        description: The request body for CreateAccountMmpConfigV5
        required: true
      responses:
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Server Error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAccountMmpConfigV5Resp'
          description: Successful operation
      security:
      - APIKey: []
        Passphrase: []
      summary: |+
        This endpoint is used to set MMP configure



        Only applicable to Option in Portfolio Margin mode, and MMP privilege is required.

      tags:
      - Trading Account
  /api/v5/account/mmp-reset:
    post:
      description: "You can unfreeze by this endpoint once MMP is triggered.\n\n\n\
        \nOnly applicable to Option in Portfolio Margin mode, and MMP privilege is\
        \ required.\n\n#### Rate Limit: 5 requests per 2 seconds \n\n#### Rate limit\
        \ rule: User ID \n\n#### Permission: Trade \n\n"
      operationId: CreateAccountMmpResetV5
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAccountMmpResetV5Req'
        description: The request body for CreateAccountMmpResetV5
        required: true
      responses:
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Server Error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAccountMmpResetV5Resp'
          description: Successful operation
      security:
      - APIKey: []
        Passphrase: []
      summary: |+
        You can unfreeze by this endpoint once MMP is triggered.



        Only applicable to Option in Portfolio Margin mode, and MMP privilege is required.

      tags:
      - Trading Account
  /api/v5/account/position-builder:
    post:
      description: "Calculates portfolio margin information for virtual position/assets\
        \ or current position of the user.\n\n\nYou can add up to 200 virtual positions\
        \ and 200 virtual assets in one request.\n\n#### Rate Limit: 2 requests per\
        \ 2 seconds \n\n#### Rate limit rule: User ID \n\n#### Permission: Read \n\
        \n"
      operationId: CreateAccountPositionBuilderV5
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAccountPositionBuilderV5Req'
        description: The request body for CreateAccountPositionBuilderV5
        required: true
      responses:
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Server Error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAccountPositionBuilderV5Resp'
          description: Successful operation
      security:
      - APIKey: []
        Passphrase: []
      summary: |+
        Calculates portfolio margin information for virtual position/assets or current position of the user.


        You can add up to 200 virtual positions and 200 virtual assets in one request.

      tags:
      - Trading Account
  /api/v5/account/position-tiers:
    get:
      description: "Retrieve cross position limitation of SWAP/FUTURES/OPTION under\
        \ Portfolio margin mode.\n\n#### Rate Limit: 10 requests per 2 seconds \n\n\
        #### Rate limit rule: User ID \n\n#### Permission: Read \n\n"
      operationId: GetAccountPositionTiersV5
      parameters:
      - description: |-
          Instrument type

          `SWAP`

          `FUTURES`

          `OPTION`
        explode: true
        in: query
        name: instType
        required: true
        schema:
          default: ""
          description: |-
            Instrument type

            `SWAP`

            `FUTURES`

            `OPTION`
          type: string
        style: form
      - description: |-
          Single underlying or multiple underlyings (no more than 3) separated with comma.

          Either `uly` or `instFamily` is required. If both are passed, `instFamily` will be used.
        explode: true
        in: query
        name: uly
        required: false
        schema:
          default: ""
          description: |-
            Single underlying or multiple underlyings (no more than 3) separated with comma.

            Either `uly` or `instFamily` is required. If both are passed, `instFamily` will be used.
          type: string
        style: form
      - description: |-
          Single instrument family or instrument families (no more than 5) separated with comma.

          Either `uly` or `instFamily` is required. If both are passed, `instFamily` will be used.
        explode: true
        in: query
        name: instFamily
        required: false
        schema:
          default: ""
          description: |-
            Single instrument family or instrument families (no more than 5) separated with comma.

            Either `uly` or `instFamily` is required. If both are passed, `instFamily` will be used.
          type: string
        style: form
      responses:
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Server Error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAccountPositionTiersV5Resp'
          description: Successful operation
      security:
      - APIKey: []
        Passphrase: []
      summary: |+
        Retrieve cross position limitation of SWAP/FUTURES/OPTION under Portfolio margin mode.

      tags:
      - Trading Account
  /api/v5/account/position/margin-balance:
    post:
      description: "Increase or decrease the margin of the isolated position. Margin\
        \ reduction may result in the change of the actual leverage.\n\n#### Rate\
        \ Limit: 20 requests per 2 seconds \n\n#### Rate limit rule: User ID \n\n\
        #### Permission: Trade \n\n"
      operationId: CreateAccountPositionMarginBalanceV5
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAccountPositionMarginBalanceV5Req'
        description: The request body for CreateAccountPositionMarginBalanceV5
        required: true
      responses:
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Server Error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAccountPositionMarginBalanceV5Resp'
          description: Successful operation
      security:
      - APIKey: []
        Passphrase: []
      summary: |+
        Increase or decrease the margin of the isolated position. Margin reduction may result in the change of the actual leverage.

      tags:
      - Trading Account
  /api/v5/account/positions:
    get:
      description: "Retrieve information on your positions. When the account is in\
        \ `net` mode, `net` positions will be displayed, and when the account is in\
        \ `long/short` mode, `long` or `short` positions will be displayed. Return\
        \ in reverse chronological order using ctime.\n\n#### Rate Limit: 10 requests\
        \ per 2 seconds \n\n#### Rate limit rule: User ID \n\n#### Permission: Read\
        \ \n\n"
      operationId: GetAccountPositionsV5
      parameters:
      - description: |-
          Instrument type

          `MARGIN`

          `SWAP`

          `FUTURES`

          `OPTION`

          `instId` will be checked against `instType` when both parameters are passed.
        explode: true
        in: query
        name: instType
        required: false
        schema:
          default: ""
          description: |-
            Instrument type

            `MARGIN`

            `SWAP`

            `FUTURES`

            `OPTION`

            `instId` will be checked against `instType` when both parameters are passed.
          type: string
        style: form
      - description: "Instrument ID, e.g. `BTC-USDT-SWAP`. Single instrument ID or\
          \ multiple instrument IDs (no more than 10) separated with comma"
        explode: true
        in: query
        name: instId
        required: false
        schema:
          default: ""
          description: "Instrument ID, e.g. `BTC-USDT-SWAP`. Single instrument ID\
            \ or multiple instrument IDs (no more than 10) separated with comma"
          type: string
        style: form
      - description: "Single position ID or multiple position IDs (no more than 20)\
          \ separated with comma. \n\nThere is attribute expiration, the posId and\
          \ position information will be cleared if it is more than 30 days after\
          \ the last full close position."
        explode: true
        in: query
        name: posId
        required: false
        schema:
          default: ""
          description: "Single position ID or multiple position IDs (no more than\
            \ 20) separated with comma. \n\nThere is attribute expiration, the posId\
            \ and position information will be cleared if it is more than 30 days\
            \ after the last full close position."
          type: string
        style: form
      responses:
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Server Error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAccountPositionsV5Resp'
          description: Successful operation
      security:
      - APIKey: []
        Passphrase: []
      summary: |+
        Retrieve information on your positions. When the account is in `net` mode, `net` positions will be displayed, and when the account is in `long/short` mode, `long` or `short` positions will be displayed. Return in reverse chronological order using ctime.

      tags:
      - Trading Account
  /api/v5/account/positions-history:
    get:
      description: "Retrieve the updated position data for the last 3 months. Return\
        \ in reverse chronological order using utime. Getting positions history is\
        \ supported under Portfolio margin mode since .\n\n#### Rate Limit: 10 requests\
        \ per 2 seconds \n\n#### Rate limit rule: User ID \n\n#### Permission: Read\
        \ \n\n"
      operationId: GetAccountPositionsHistoryV5
      parameters:
      - description: |-
          Instrument type

          `MARGIN`

          `SWAP`

          `FUTURES`

          `OPTION`
        explode: true
        in: query
        name: instType
        required: false
        schema:
          default: ""
          description: |-
            Instrument type

            `MARGIN`

            `SWAP`

            `FUTURES`

            `OPTION`
          type: string
        style: form
      - description: "Instrument ID, e.g. `BTC-USD-SWAP`"
        explode: true
        in: query
        name: instId
        required: false
        schema:
          default: ""
          description: "Instrument ID, e.g. `BTC-USD-SWAP`"
          type: string
        style: form
      - description: |-
          Margin mode

          `cross` `isolated`
        explode: true
        in: query
        name: mgnMode
        required: false
        schema:
          default: ""
          description: |-
            Margin mode

            `cross` `isolated`
          type: string
        style: form
      - description: "The type of latest close position\n\n`1`: Close position partially;`2`：\
          Close all;`3`：Liquidation;`4`：Partial liquidation; `5`：ADL; \n\nIt is the\
          \ latest type if there are several types for the same position."
        explode: true
        in: query
        name: type
        required: false
        schema:
          default: ""
          description: "The type of latest close position\n\n`1`: Close position partially;`2`：\
            Close all;`3`：Liquidation;`4`：Partial liquidation; `5`：ADL; \n\nIt is\
            \ the latest type if there are several types for the same position."
          type: string
        style: form
      - description: "Position ID. There is attribute expiration. The posId will be\
          \ expired if it is more than 30 days after the last full close position,\
          \ then position will use new posId."
        explode: true
        in: query
        name: posId
        required: false
        schema:
          default: ""
          description: "Position ID. There is attribute expiration. The posId will\
            \ be expired if it is more than 30 days after the last full close position,\
            \ then position will use new posId."
          type: string
        style: form
      - description: "Pagination of data to return records earlier than the requested\
          \ `uTime`, Unix timestamp format in milliseconds, e.g. `1597026383085`"
        explode: true
        in: query
        name: after
        required: false
        schema:
          default: ""
          description: "Pagination of data to return records earlier than the requested\
            \ `uTime`, Unix timestamp format in milliseconds, e.g. `1597026383085`"
          type: string
        style: form
      - description: "Pagination of data to return records newer than the requested\
          \ `uTime`, Unix timestamp format in milliseconds, e.g. `1597026383085`"
        explode: true
        in: query
        name: before
        required: false
        schema:
          default: ""
          description: "Pagination of data to return records newer than the requested\
            \ `uTime`, Unix timestamp format in milliseconds, e.g. `1597026383085`"
          type: string
        style: form
      - description: Number of results per request. The maximum is 100. The default
          is 100. All records that have the same `uTime` will be returned at the current
          request
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: ""
          description: Number of results per request. The maximum is 100. The default
            is 100. All records that have the same `uTime` will be returned at the
            current request
          type: string
        style: form
      responses:
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Server Error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAccountPositionsHistoryV5Resp'
          description: Successful operation
      security:
      - APIKey: []
        Passphrase: []
      summary: |+
        Retrieve the updated position data for the last 3 months. Return in reverse chronological order using utime. Getting positions history is supported under Portfolio margin mode since .

      tags:
      - Trading Account
  /api/v5/account/quick-margin-borrow-repay:
    post:
      description: "Please note that this endpoint will be deprecated soon.\n\n####\
        \ Rate Limit: 5 requests per 2 seconds \n\n#### Rate limit rule: User ID \n\
        \n#### Permission: Trade \n\n"
      operationId: CreateAccountQuickMarginBorrowRepayV5
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAccountQuickMarginBorrowRepayV5Req'
        description: The request body for CreateAccountQuickMarginBorrowRepayV5
        required: true
      responses:
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Server Error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAccountQuickMarginBorrowRepayV5Resp'
          description: Successful operation
      security:
      - APIKey: []
        Passphrase: []
      summary: |+
        Please note that this endpoint will be deprecated soon.

      tags:
      - Trading Account
  /api/v5/account/quick-margin-borrow-repay-history:
    get:
      description: "Get record in the past 3 months.\n\n#### Rate Limit: 5 requests\
        \ per 2 seconds \n\n#### Rate limit rule: User ID \n\n#### Permission: Read\
        \ \n\n"
      operationId: GetAccountQuickMarginBorrowRepayHistoryV5
      parameters:
      - description: "Instrument ID, e.g. BTC-USDT"
        explode: true
        in: query
        name: instId
        required: false
        schema:
          default: ""
          description: "Instrument ID, e.g. BTC-USDT"
          type: string
        style: form
      - description: "Loan currency, e.g. `BTC`"
        explode: true
        in: query
        name: ccy
        required: false
        schema:
          default: ""
          description: "Loan currency, e.g. `BTC`"
          type: string
        style: form
      - description: '`borrow`  `repay`'
        explode: true
        in: query
        name: side
        required: false
        schema:
          default: ""
          description: '`borrow`  `repay`'
          type: string
        style: form
      - description: Pagination of data to return records earlier than the requested
          `refId`
        explode: true
        in: query
        name: after
        required: false
        schema:
          default: ""
          description: Pagination of data to return records earlier than the requested
            `refId`
          type: string
        style: form
      - description: Pagination of data to return records newer than the requested
          `refId`
        explode: true
        in: query
        name: before
        required: false
        schema:
          default: ""
          description: Pagination of data to return records newer than the requested
            `refId`
          type: string
        style: form
      - description: "Filter with a begin timestamp. Unix timestamp format in milliseconds,\
          \ e.g. 1597026383085"
        explode: true
        in: query
        name: begin
        required: false
        schema:
          default: ""
          description: "Filter with a begin timestamp. Unix timestamp format in milliseconds,\
            \ e.g. 1597026383085"
          type: string
        style: form
      - description: "Filter with an end timestamp. Unix timestamp format in milliseconds,\
          \ e.g. 1597026383085"
        explode: true
        in: query
        name: end
        required: false
        schema:
          default: ""
          description: "Filter with an end timestamp. Unix timestamp format in milliseconds,\
            \ e.g. 1597026383085"
          type: string
        style: form
      - description: Number of results per request. The maximum is `100`; The default
          is `100`
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: ""
          description: Number of results per request. The maximum is `100`; The default
            is `100`
          type: string
        style: form
      responses:
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Server Error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAccountQuickMarginBorrowRepayHistoryV5Resp'
          description: Successful operation
      security:
      - APIKey: []
        Passphrase: []
      summary: |+
        Get record in the past 3 months.

      tags:
      - Trading Account
  /api/v5/account/risk-state:
    get:
      description: "Only applicable to Portfolio margin account\n\n#### Rate Limit:\
        \ 10 requests per 2 seconds \n\n#### Rate limit rule: User ID \n\n#### Permission:\
        \ Read \n\n"
      operationId: GetAccountRiskStateV5
      responses:
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Server Error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAccountRiskStateV5Resp'
          description: Successful operation
      security:
      - APIKey: []
        Passphrase: []
      summary: |+
        Only applicable to Portfolio margin account

      tags:
      - Trading Account
  /api/v5/account/set-account-level:
    post:
      description: "You need to set on the Web/App for the first set of every account\
        \ mode. If users plan to switch account modes while holding positions, they\
        \ should first call the preset endpoint to conduct necessary settings, then\
        \ call the precheck endpoint to get unmatched information, margin check, and\
        \ other related information, and finally call the account mode switch endpoint\
        \ to switch account modes.\n\n#### Rate Limit: 5 requests per 2 seconds \n\
        \n#### Rate limit rule: User ID \n\n#### Permission: Trade \n\n"
      operationId: CreateAccountSetAccountLevelV5
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAccountSetAccountLevelV5Req'
        description: The request body for CreateAccountSetAccountLevelV5
        required: true
      responses:
        "4XX":
          content:
            application/json:
              schema:
[...]
